* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #nav {
    background-color: black;
    
  }
  .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #body {
   background-color: black;
  }


/* navbar start */
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    }
    nav ul{
      font-size: 18px;
    }
    .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    }
    #drop{
      background-color: black;
      color: white;
      
    }
    input[type=search]:focus{
      border: 2px solid red;
      box-shadow: none;
    }
    #sea{
      font-size: 14px;
      font-weight: 600;
    }
    #sea:hover{
      background-color:rgb(255, 0, 0);
      color: white;
      border: 2px solid black;
     }
     i{
      color: red;
      
    }
    #he:hover{
       color: red;
      border-bottom: 1px solid red;
      transition: 1s;
      animation: hello 2s ease-in-out linea;
    }
  
    #he:after{
    
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 0;
      border-bottom: 1px solid red;
      transition: width 0.3s;
    }
    #navbtn{
    color: red;
    border: 1px solid red;
    }
    #navbtn:focus{
   box-shadow: 0 0 20px red;
    }

    #login{
      border: 2px solid red;
      color: white;
      font-size: 14px;
      font-weight: 800;
    
    }
    #login:hover{
     background-color: red; 
     color: black;
    
    }


    /* navbar end */
    

    /* footer start */
      
    #abt h5{
        text-align: center;
        
      }
      #abt p{
        width: 100%;
      }
      #asd{
        text-align: center;
      }
      #contact a {
        font-size: 17px;
        color: white;
        text-decoration: none;
      }
      #contact a:hover {
        color: red;
        font-size: 18 px;
      }

    #foot {
        background-color: black;
        color: rgb(255, 255, 255);
      }
      
      #foot #icon a {
        color: white;
        list-style-type: none;
        text-decoration: none;
      }
      
      #foot #icon a:hover {
        color: red;
      }
      
      #foot-cash {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-mc {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-easy {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-jaaz {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-visa {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-dhl {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
      #foot-tcs {
        width: 100px;
        height: 30px;
        margin: 5px;
      }
   
   #abt ul{
         text-align: center;
         margin-left: -40px;
   }
      #abt a{
        list-style-type: none;
        color: white;
        font-size: 17px;
        text-align: center;
        
        
      }
      #abt a:hover{
        list-style-type: none;
        color: red;
      
      
      }
      #payment{
        width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         
      }





    /* footer ends */

     /* #id{
        width: 100%;
          height: 600px;
          display: flex;
          justify-content: center;
          align-items: center;
    } */
#id{
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
   #form{
  
   width: 60%;
   margin-top: 40px;
   
 
text-align: center;
}

label{
   
      font: 600;
      color: white; 
        font-size: 20px;
    } 
   
    input[type=text]
    {
        height: 45px;
        width: 34.5%;
        padding: 9px;
 
       
        
      }
      input
      {
        height: 45px;
        width: 70%;
        padding: 9px;
        
      }
     
     #submit{
      width: 150px;
      height: 50px;
      background-color: red;
      border-radius: 9px;
     }
 #mesee{
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
 }
   #mese{
    width: 70%;
    
   
 
   }

  
    /*  form start */
    /* inquery start */
    #inquery{
    
        width: 100%;
        height:400px;
        margin-top: 20px;
      
        text-align: center;
        font-size: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #inquery a{
        color: red;
    }
    #inquery h2{
        text-align: start;
        font-weight: 600;
        font-size: 70px;
        font-family: Georgia, "Times New Roman", Times, serif;
       text-align: center;
   
       
    }
    /* inquery end */
    
    
    /* Phone start */
    
    #phone{
      width: 100%;
      color: white;
      text-align: center;
       display: flex;
       justify-content: space-evenly;
    }
    #lo{
      width:50%;
      margin: 20px;
    }
    #tel{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      
    }
    #tele{
      display: flex;
    }
    
  
    #phone a{
      color: white;
    }
    #phone a:hover{
      color: red;
    }
    

   /* geolocation start */
    #geo
    {
      width: 100%;
     
    }
    #geo iframe{
      width: 100%;
    }
   /* geolocation end */
    /* Phone end*/
    
    @media only screen and (max-width:600px){
     #inquery{
      width: 95%;
      text-align: center;
      font-size: 17px;
     }
      #id
     {
      width: 100%;
     }
     #form{
      width: 100%;
      
     
     }
     input[type=text]
     {
      height: 45px;
      width: 50%;
      
      padding: 9px;
         
         
       }
       input[type=email]
       {
         height: 45px;
         width: 50%;
         padding: 9px;
         
       }
       input[type=textarea]
       {
         height:45px;
         width: 50%;
         
         padding: 9px;
       }
      #id button{
         width: 30%;
         height:50px;
        background-color: red;
         font-weight: 800;
         border-radius: 7px;
         box-shadow: none;
    }
    #mesee{
      width: 100%;
     
      display: flex;
      justify-content: center;
      align-items: center;
     }
       #mese{
        width: 50%;
        
       
     
       }
    #phone{
      width: 100%;
     font-size: 18px;
    text-align: center;
    margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    .tele p{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
   
   
  }
   @media only screen and (min-width:600px){

     #inquery{
       width: 95%;
      text-align: center;
       font-size: 17px;
      }
      #id
      {
      width: 100%;
    }
    #form{
      width: 100%;
    }
    input[type=text]
    {
      height: 45px;
      width: 50%;
      margin: 3px;
      padding: 9px;
      
      
    }
    input[type=email]
    {
         height: 45px;
         width: 50%;
         padding: 9px;
         
       }
       input[type=textarea]
       {
         height:45px;
         width: 50%;
          padding: 9px;
        }
       #id button{
         width: 25%;
         height:50px;
        background-color: red;
         font-weight: 800;
         border-radius: 7px;
         box-shadow: none;
    }
    #mesee{
      width: 100%;
     
      display: flex;
      justify-content: center;
      align-items: center;
     }
       #mese{
        width: 50%;
        
       
     
       }
   
    #phone{
      width: 100%;
      font-size: 18px;
       text-align: center;
       margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    #tel p{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
  }
   @media only screen and (min-width:772px){

     #inquery{
       width: 95%;
      text-align: center;
       font-size: 17px;
      }
      #id
      {
      width: 100%;
    }
    #form{
      width: 100%;
    }
    input[type=text]
    {
      height: 45px;
      width: 50%;
      margin: 3px;
      padding: 9px;
      
      
    }
    input[type=email]
    {
         height: 45px;
         width: 50%;
         padding: 9px;
         
       }
       input[type=textarea]
       {
         height:45px;
         width: 50%;
         
         padding: 9px;
        }
        #mesee{
          width: 100%;
         
          display: flex;
          justify-content: center;
          align-items: center;
         }
           #mese{
            width: 50%;
            
           
         
           }
       #id button{
         width: 20%;
         height:50px;
        background-color: red;
         font-weight: 800;
         border-radius: 7px;
         box-shadow: none;
    }
   
    #phone{
      width: 100%;
      font-size: 18px;
     
      margin: 0px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
  }
   @media only screen and (min-width:992px){

     #inquery{
       width: 95%;
      text-align: center;
       font-size: 17px;
      }
      #id
      {
      width: 100%;
    }
    #form{
      width: 100%;
    }
    input[type=text]
    {
      height: 45px;
      width: 25%;
      margin: 3px;
      padding: 9px;
      
      
    }
    input[type=email]
    {
         height: 45px;
         width: 50%;
         padding: 9px;
         
       }
       input[type=textarea]
       {
         height:45px;
         width: 50%;
         
         padding: 9px;
        }
        #mesee{
          width: 100%;
         
          display: flex;
          justify-content: center;
          align-items: center;
         }
           #mese{
            width: 50%;
            
           
         
           }
       #id button{
         width: 15%;
         height:50px;
        background-color: red;
         font-weight: 800;
         border-radius: 7px;
         box-shadow: none;
    }
   
    #phone{
      width: 100%;
      font-size: 18px;
     
      margin: 0px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
    }
    #tele{
      display: flex;
      justify-content: center;
    } 
  }
  
   @media only screen and (min-width:1100px){

     #inquery{
       width: 100%;
      text-align: center;
       font-size: 19px;
      }
      #id
      {
      width: 100%;
    }
    #form{
   
      width: 90%;
    }
    input[type=text]
    {
     
        height: 45px;
        width: 17.3%;
        padding: 9px;
        
        
      }
      input[type=email]
      {
        height: 45px;
        width: 35%;
        padding: 9px;
        
      }
      input[type=textarea]
      {
        height:45px;
        width: 35%;
        
        padding: 9px;
      }
      
       #id button{
         width: 10%;
         height:50px;
        background-color: red;
         font-weight: 800;
         border-radius: 7px;
         box-shadow: none;
    }
    #mesee{
      width: 100%;
     
      display: flex;
      justify-content: center;
      align-items: center;
     }
       #mese{
        width: 35%;
       }
   
    #phone{
      width: 100%;
      font-size: 18px;
     margin: 0px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
    }
    #tele{
      display: flex;
      justify-content: center;
    }
    
  }
  
   hr{
    
    color: rgba(242, 240, 240, 0.749) !important;
   }